area, base, source, track, link, meta, param, wbr, head, style, script {
	display: none;
}

address, blockquote, center, del, dir, div, dl, fieldset, form, h1, h2, h3, h4,
h5, h6, hr, ins, menu, noframes, noscript, ol, p, pre, table, ul, body {
	display: block;
}

a, abbr, b, bdo, button, cite, code, del, dfn, em, font, i, img, ins,
iframe, kbd, label, map, object, q, samp, select, small, span, strong
{
	display: inline;
}

sub, sup, textarea, tt, var, font, iframe, u, s, strike, frame, input, img {
	display: inline-block;
}

i, em {
	font-style: italic;
}

b, strong {
	font-weight: bold;
}

u, ins {
	text-decoration: underline;
}

col {
	display: table-column;
}

img {
	display: inline-block;
}

li {
	display: list-item;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 1em;
	margin-bottom: 1em;
	font-weight: bold;
}

pre {
	margin-top: 1em;
	margin-bottom: 1em;
	white-space: pre;
}

a {
	color: #c4a000;
}

a:hover {
	text-decoration: underline;
}
