area, base, source, track, link, meta, param, wbr, head, style, script {
	display: none !important;
}

address, blockquote, center, del, dir, div, dl, fieldset, form, h1, h2, h3, h4,
h5, h6, hr, ins, menu, noframes, noscript, ol, p, pre, ul, body {
	display: block;
}

a, abbr, b, bdo, br, button, cite, code, del, dfn, em, font, i, ins, iframe,
kbd, label, map, object, q, samp, select, small, span, strong, sup, sub {
	display: inline;
}

textarea, tt, var, font, iframe, u, s, strike, frame, input, img {
	display: inline-block;
}

ol, ul {
	margin-left: 3ch;
}

table {
	display: table;
}

tbody {
	display: table-row-group;
}

thead {
	display: table-header-group;
}

tfoot {
	display: table-footer-group;
}

colgroup {
	display: table-column-group;
}

input {
	width: 20ch;
}

tr {
	display: table-row;
}

col {
	display: table-column;
}

th, td {
	display: table-cell;
}

li {
	display: list-item;
}

i, em {
	font-style: italic;
}

b, strong {
	font-weight: bold;
}

u, ins {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 1ch;
	margin-bottom: 1ch;
	font-weight: bold;
}

pre {
	margin-top: 1ch;
	margin-bottom: 1ch;
	white-space: pre;
}

p {
	margin-top: 1ch;
	margin-bottom: 1ch;
}

a {
	color: yellow;
}

a:hover {
	text-decoration: underline;
}

sup::before {
	content: '^';
}

sub::before {
	content: '~';
}

ol {
	list-style-type: decimal;
}

ul {
	list-style-type: disc;
}

:is(ol, ul, menu, dir) ul {
	list-style-type: circle;
}

:is(ol, ul, menu, dir) :is(ol, ul, menu, dir) ul {
	list-style-type: square;
}
