area, base, source, track, link, meta, param, wbr, head, style, script {
	display: none !important;
}

:root {
	display: block !important;
}

address, blockquote, center, del, dir, div, dl, dt, dd, fieldset, form, h1, h2, h3, h4,
h5, h6, hr, ins, menu, noframes, noscript, ol, p, pre, ul, body {
	display: block;
}

textarea, tt, var, font, iframe, u, s, strike, frame, input, img {
	display: inline-block;
}

ol, ul, menu, dir {
	margin-left: 4ch;
	margin-top: 1em;
	margin-bottom: 1em;
}

:is(ol, ul, menu, dir) :is(ol, ul, menu, dir) {
	margin-top: unset;
	margin-bottom: unset;
}

table {
	display: table;
}

tbody {
	display: table-row-group;
}

thead {
	display: table-header-group;
}

tfoot {
	display: table-footer-group;
}

colgroup {
	display: table-column-group;
}

input {
	margin-right: 1ch;
	white-space: pre;
	color: red;
}

input[type="hidden"] {
	display: none;
}

input::before {
	content: '[';
	text-decoration: none;
	color: none;
}

input::after {
	content: ']';
	text-decoration: none;
	color: none;
}

input[type="radio"]::before {
	content: '(';
	text-decoration: none;
	color: none;
}

input[type="radio"]::after {
	content: ')';
	text-decoration: none;
	color: none;
}

input:is([type="text"], [type="password"], [type="search"], [type="file"]) {
	text-decoration: underline;
}

input:is([type="submit"], [type="button"], [type="reset"])::before {
	color: red;
}

input:is([type="submit"], [type="button"], [type="reset"])::after {
	color: red;
}

tr {
	display: table-row;
}

col {
	display: table-column;
}

th, td {
	display: table-cell;
}

li {
	display: list-item;
}

i, em {
	font-style: italic;
}

b, strong {
	font-weight: bold;
}

u, ins {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 1em;
	margin-bottom: 1em;
	font-weight: bold;
}

pre {
	margin-top: 1em;
	margin-bottom: 1em;
	white-space: pre;
}

p {
	margin-top: 1em;
	margin-bottom: 1em;
}

a {
	color: yellow;
}

a:hover {
	text-decoration: underline;
}

sup::before {
	content: '^';
}

sub::before {
	content: '~';
}

ol {
	list-style-type: decimal;
}

ul {
	list-style-type: disc;
}

:is(ol, ul, menu, dir) ul {
	list-style-type: circle;
}

:is(ol, ul, menu, dir) :is(ol, ul, menu, dir) ul {
	list-style-type: square;
}

dl {
	margin-bottom: 1em;
}

:is(ul, ol, dir, menu, dl) dl {
	margin-bottom: unset;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 4ch;
}

dl[compact] dt + br {
	display: none;
}

select {
	display: inline-block;
}

select {
	color: red;
}

select::before {
	content: '[';
	color: none;
}

select::after {
	content: ']';
	color: none;
}

select > option {
	display: none;
}

select > optgroup > option {
	display: none;
}

select > option:checked {
	display: inline-block;
}

select > optgroup > option:checked {
	display: inline-block;
}

center {
	text-align: -moz-center;
}

blink {
	text-decoration: blink;
}
