<!DOCTYPE html>
<html>
<body>
<div style="margin-top: 1em">
<div style="float: right; background-color: blue">float right</div>
<div style="float: left; clear: right; background-color: red">float left</div>
<div style="float: right; background-color: yellow">float right</div>
</div>
<div style="margin-top: 2em">
test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test
</div>
</body>
</html>
