<!DOCTYPE HTML>
<style>

* {
  font-family: monospace,monospace;
  line-height: 1em;
  font-size: 15px
}
</style>
<script>
window.onload = function() {
document.getElementById("test").innerHTML = "test"
console.log(document.querySelector("html").outerHTML);
}
/*
(function(view) {
	"use strict";
	view.Intl = view.webkitURL || view.Intl;
}(window))
*/
</script>
<div style="display: flow-root">
<div>
<div style="float: left; width: 100%; height: 10em; background-color: red"></div>
<div style="margin-top: 1em">
this is line 1.
this is line 2.
this is line 3.
this is line 4.
this is line 5.
this is line 6.
this is line 7.
this is line 8.
this is line 9.
this is line 10.
</pre>
