<!DOCTYPE html>
<div style="display: table-row">
<span>test 1
<div style="display: inline-table; line-height: 1em"><div style="display: table-row"><div style="display: table-cell">test 2</div></div></div>
<!--
<div style="display: inline-block"><div><div>test</div></div></div>
 -->
test 3<br>test 3.5</span>
</div>
<span>test 4 <div style="display: table-row; background: red">test 5</div> test 6</span>
<br>
<span>test 7 <div style="display: table-cell">test 8</div> test 9<br>test 9.5</span>
<div style="display: table-row; background: red">
<div>thing</div>
<div>thing2</div>
thing2.5
<span>thing3</span>
<div>thing4</div>
<div style="display: table-cell">
thing3
</div>
</div>
<div style="display: table-row"><div style="display: table-cell; background: blue">test</div></div>
