<pre style="width: 100%; text-align: center">
<span style="background-color: red">
<span style="text-align: center">testing</span>
test test test <span style="display: inline-block; margin-top: -2em">test</span>
new line

new line
new line
done</span>now another thing
</span>
</pre>
but
<div style="width: 100%; text-align: center">
<br>
<span style="background-color: red">
this works: <span style="text-align: center; padding-left: 2ch">testing</span>
<br>
<br>
<br>
<br>
test test test <span style="display: inline-block">test</span> thing
</div>
final stage
<pre style="width: 100%; text-align: center">
<span style="background-color: red">
<span style="text-align: center">testing</span>
test test test <span style="display: inline-block; margin-top: -2em">test</span>
new line
new line
new line
done</span>now another thing
</span>
</pre>
