<!DOCTYPE html>
<style>

* {
  font-family: monospace,monospace;
  line-height: 1em;
  font-size: 18px
}
</style>
<div style="display: inline-block; width: 15ch">
<div style="margin-bottom: 1em;">wtf?</div>
<div style="float: right; margin-top: 2em">hi from right</div>
<div style="margin-left: 2ch; margin-right: 2ch; margin-top: 2em">
<div style="float: left">
<div style="display: inline-block">hi from left</div>
</div>
<!--<div style="margin-top: 5em">ok</div>-->
</div>
<div>
hi in center
</div>
</div>
