<!DOCTYPE html>
<div style="background-color: red; position: absolute; left: 30ch">test test test test test test test test test test test test test test test test</div>
<br>
<br>
<div style="background-color: green; position: absolute">abcd abcd abcd abcd abcd abcd abcd abcd abcd abcd abcd abcd abcd abcd abcd abcd</div>
<br>
<br>
<div style="background-color: red; position: absolute; left: 30ch; right: 30ch">test test test</div>
<br>
<br>
<div style="position: absolute; width: 10ch">
<div style="width: 30ch">
<div style="background-color: blue; position: relative; left: 50%">test</div>
