<!doctype html>
<style>
* {
	font-family: monospace, monospace
}
table {
	border-spacing: 0.5ch 0
}
</style>
<table style="background-color: blue">
  <caption>
    caption
  </caption>
  <tbody>
  <tr>
    <td style="background-color: red">
      one two three four five six seven eight
    </td>
    <td colspan=2 style="vertical-align: bottom" valign=top>
      internationalization
    </td>
    <td>
      c
    </td>
    <td>
      d
    </td>
    <td valign=bottom>
      lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua
      いろはにほへとちりぬるをわかよたれそつ one two three
      four five six seven eight nine ten elevenn twelve thirteen fourteen
      sixteen seventeen eighteen nineteen
    </td>
  </tr>
  </tbody>
</table>
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
