head {
	display: none
}

a, abbr, b, bdo, br, button, cite, code,
del, dfn, em, font, i, img, ins, input,
iframe, kbd, label, map, object, q, samp,
script, select, small, span, strong, sub, sup,
textarea, tt, var, font, iframe, u, s, strike,
frame, img, input {
	display: block
}

li {
	display: list-item
}

br::before {
	content: "\\"
}
